<header class="header-container">
    <div class="logo">
      Biblioteca Oliveria
    </div>
    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="activo">Inicio</a>
      <a routerLink="/libros" routerLinkActive="activo">Libros</a>
      <a routerLink="/eventos" routerLinkActive="activo">Eventos</a>
      <a routerLink="/clubs" routerLinkActive="activo">Clubes de lectura</a>
      <a routerLink="/login" routerLinkActive="activo">Inicio de sesión</a>
      <a routerLink="/perfil" routerLinkActive="activo">Mi perfil</a>
    </nav>
  </header>
  